KUKAJavaLib/com.kuka.roboticsAPI_1.15.2.16/com/kuka/roboticsAPI/persistenceModel/schema/RoboticsAPI.data.templates.V3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Mit XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) von Goeroeg (KUKA Deutschland GmbH) bearbeitet -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb">
	<xsd:include schemaLocation="RoboticsAPI.data.commonTypes.V3.xsd"/>
	<xsd:complexType name="infoTemplate">
		<xsd:attribute name="base" type="xsd:string" use="optional"/>
		<xsd:attribute name="controller" type="xsd:string" use="optional"/>
		<xsd:attribute name="creationTime" type="xsd:string" use="optional"/>
		<xsd:attribute name="device" type="xsd:string" use="optional"/>
		<xsd:attribute name="tool" type="xsd:string" use="optional"/>
		<xsd:attribute name="type" type="xsd:string" use="optional"/>
		<xsd:attribute name="key" type="xsd:string" use="optional"/>
		<xsd:attribute name="value" type="xsd:string" use="optional"/>
		<xsd:attribute name="displayName" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="measurementTemplate">
		<xsd:attribute name="calculationError" type="validDoubleType" use="optional"/>
		<xsd:attribute name="timestamp" type="xsd:long" use="required"/>
		<xsd:attribute name="method" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="loadDataTemplate">
		<xsd:attribute name="cogX" type="validDoubleType" use="required"/>
		<xsd:attribute name="cogY" type="validDoubleType" use="required"/>
		<xsd:attribute name="cogZ" type="validDoubleType" use="required"/>
		<xsd:attribute name="cogA" type="validDoubleType" use="required"/>
		<xsd:attribute name="cogB" type="validDoubleType" use="required"/>
		<xsd:attribute name="cogC" type="validDoubleType" use="required"/>
		<xsd:attribute name="inertiaX" type="validDoubleType" use="required"/>
		<xsd:attribute name="inertiaY" type="validDoubleType" use="required"/>
		<xsd:attribute name="inertiaZ" type="validDoubleType" use="required"/>
		<xsd:attribute name="mass" type="massType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="templateElement" abstract="true">
		<xsd:sequence>
			<xsd:element name="frames" type="framesTemplate" minOccurs="0">
				<xsd:unique name="frame-name3">
					<xsd:selector xpath="frame"/>
					<xsd:field xpath="@name"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="additionalInformation" type="additionalInformation" minOccurs="0"/>
			<xsd:element name="userInformation" type="userInformation" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="javaConformType" use="required"/>
		<xsd:attribute name="class" type="xsd:string" use="optional"/>
		<xsd:attribute name="singleton" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="toolTemplate">
		<xsd:complexContent>
			<xsd:extension base="templateElement">
				<xsd:sequence>
					<xsd:element name="loadData" type="loadDataTemplate"/>
				</xsd:sequence>
				<xsd:attribute name="defaultMotionFrameRef" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="workpieceTemplate">
		<xsd:complexContent>
			<xsd:extension base="templateElement">
				<xsd:sequence>
					<xsd:element name="loadData" type="loadDataTemplate"/>
				</xsd:sequence>
				<xsd:attribute name="defaultMotionFrameRef" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="geometricObjectTemplate">
		<xsd:complexContent>
			<xsd:extension base="templateElement"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="frameTemplate">
		<xsd:sequence>
			<xsd:element name="transformation">
				<xsd:complexType>
					<xsd:attribute name="x" type="validDoubleType" use="required"/>
					<xsd:attribute name="y" type="validDoubleType" use="required"/>
					<xsd:attribute name="z" type="validDoubleType" use="required"/>
					<xsd:attribute name="a" type="validDoubleType" use="required"/>
					<xsd:attribute name="b" type="validDoubleType" use="required"/>
					<xsd:attribute name="c" type="validDoubleType" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="additionalInformation" type="additionalInformation" minOccurs="0"/>
			<xsd:element name="measurementTranslation" type="measurementTemplate" minOccurs="0" maxOccurs="1" />
			<xsd:element name="measurementRotation" type="measurementTemplate" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="frames" type="framesTemplate" minOccurs="0">
				<xsd:unique name="frame-name2">
					<xsd:selector xpath="frame"/>
					<xsd:field xpath="@name"/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="name" type="javaConformType" use="required"/>
		<xsd:attribute name="id" type="xsd:ID" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="objectTemplate">
		<xsd:sequence>
			<xsd:group ref="objectTemplateGroup" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="objectTemplateGroup">
		<xsd:choice>
			<xsd:element name="toolTemplate" type="toolTemplate" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="workpieceTemplate" type="workpieceTemplate" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="geometricObjectTemplate" type="geometricObjectTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="framesTemplate">
		<xsd:sequence>
			<xsd:element name="frame" type="frameTemplate" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="additionalInformation">
		<xsd:sequence>
			<xsd:element name="info" type="infoTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
		<xsd:complexType name="userInformation">
		<xsd:sequence>
			<xsd:element name="info" type="infoTemplate" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
