KUKAJavaLib/com.kuka.roboticsAPI_1.15.2.16/com/kuka/roboticsAPI/persistenceModel/schema/RoboticsAPI.data.commonTypes.V3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:jxb="http://java.sun.com/xml/ns/jaxb" >
	
	<xsd:simpleType name="javaConformType">
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
            <xsd:pattern value="($|_|\p{L})(\p{L}|\p{Nd}|_|$)*"/>
      </xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="validDoubleType">
		<xsd:restriction base="xsd:double">
			<xsd:pattern value="(\-)?[0-9].*"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="massType">
		<xsd:restriction base="validDoubleType">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
